body {
  text-align: center;
  background-color: #d78ee0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #4e1e55;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid rgb(99, 63, 16);
  border-radius: 20%;
  box-shadow: 5px 5px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  box-shadow: #FEF2BF;

}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
